
<!-- Begin select2 elements -->

    <div class="mcd-container">
        <select class="mcd-select" name="mcd-select" multiple="multiple">
        </select>
    </div>

<!-- End select2 elements -->
